<h1>Real People's Dreams... Who Would You Like to Invest In?</h1>
<br>
<ol>
<% @dreams.expensive_dreams_to_fund.where(funder_user_id: nil).where.not(dreamer_user_id: @current_user.id).each do |d| %>
  <li><%= link_to "#{d.name}", dream_path(d) %></a> from <%= link_to "#{d.dreamer_user.email}", user_path(d.dreamer_user_id) %> </a> that costs <%= link_to "$#{d.cost}", dream_path(d) %></a>.</li>
  <br>
<% end %>
</ol>
