<h1>My Dreams</h1>

<ol>
<h2>Awaiting Dreams</h2>
    <% if @user.dream_requests.where(funder_user: nil).each do |dtf| %>
      <li><%= link_to "#{dtf.name} that costs $#{dtf.cost}", dream_path(dtf) %></a></li>
    <% end %>
<h2>Funded Dreams</h2>
    <% elsif @user.dream_requests.where.not(funder_user: nil).each do |dr| %>
      <li><%= link_to "Your dream to #{dr.name} that cost $#{dr.cost} was funded by #{dr.funder_user.email}", dream_path(dr) %></a></li>
    <% end %>
    </ol>
    <% end %>
