<h1>Dreams I've Funded</h1>

<ol>
<% if @user.dreams_funded.where(:funder_user == true).each do |dr| %>
    <li><%= link_to "#{dr.dreamer_user.email}", show_dreamer_path(dr.dreamer_user_id) %></a> dream of a <%= link_to "#{dr.name}", dream_path(dr) %></li>
    <% end %>
</ol>
<% else %>
    <p>No dreams funded yet.</p>
<% end %>