<h1>Funders of My Dreams (aka Human Capital Investors)</h1>

<ol>
<% if @user.dream_requests.where.not(thanks: true).where.not(funder_user_id: nil).each do |dr| %>
    <li><%= link_to "#{dr.funder_user.email}", dream_path(dr) %></a></li>
    <% end %>
</ol>
<% else %>
    <p>No dreams funded yet.</p>
<% end %>
